<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    <!-- namespace表示命名空间 -->
    <mapper namespace="com.fujia.pojo.Course">

    <!-- 结果映射集 -->
    <resultMap id="courseMap" type="Course">
        <result property="courseId" column="courseId"/>
        <result property="courseName" column="courseName"/>
        <result property="courseHours" column="courseHours"/>
        <result property="academyId" column="academyId"/>
    </resultMap>

    <!-- 根据课程名模糊查询课程信息列表 或 查询所有课程信息列表-->
    <select id="findCourseByName" parameterType="String" resultMap="courseMap">
        select * from course where courseName like concat('%',#{courseName},'%')
    </select>

    <!-- 根据课程ID获取课程信息 -->
    <select id="findCourseById" parameterType="int" resultMap="courseMap">
        select * from course where courseId = #{courseId}
    </select>

    <!-- 根据学院ID获取课程信息列表 -->
    <select id="findCourseByAcademyId" parameterType="int" resultMap="courseMap">
        select * from course where academyId = #{academyId}
    </select>

    <!-- 添加课程信息-->
    <insert id="addCourse" parameterType="Course">
        insert into course(courseId, courseName, courseHours, academyId) values (#{courseId}, #{courseName}, #{courseHours}, #{academyId})
    </insert>

    <!-- 更新课程信息-->
    <update id="updateCourse" parameterType="Course">
        update course set courseName = #{courseName}, courseHours = #{courseHours}, academyId = #{academyId} where courseId = #{courseId}
    </update>

    <!-- 删除课程信息-->
    <delete id="deleteCourse" parameterType="int">
        delete from course where courseId = #{courseId}
    </delete>
</mapper>
